# 数据库配置
POSTGRES_USER=quka
POSTGRES_PASSWORD=quka123
POSTGRES_DB=quka

# 静态资源域名
STATIC_DOMAIN=http://localhost
# 加密密钥
ENCRYPT_KEY=quka-encrypt-key

# MinIO 配置
MINIO_BUCKET=quka-bucket
MINIO_ROOT_USER=myminioadmin
MINIO_ROOT_PASSWORD=minio-secret-key-change-me

S3_BUCKET=$MINIO_BUCKET
S3_REGION=fake
S3_ENDPOINT=$STATIC_DOMAIN
S3_ACCESS_KEY=$MINIO_ROOT_USER
S3_SECRET_KEY=$MINIO_ROOT_PASSWORD
