# 数据库配置
QUKA_POSTGRES_USER=quka
QUKA_POSTGRES_PASSWORD=quka123
QUKA_POSTGRES_DB=quka

# 静态资源域名
QUKA_STATIC_DOMAIN=http://localhost
# 加密密钥
QUKA_ENCRYPT_KEY=quka-encrypt-key

# MinIO 配置
QUKA_MINIO_BUCKET=quka-bucket
QUKA_MINIO_ROOT_USER=myminioadmin
QUKA_MINIO_ROOT_PASSWORD=minio-secret-key-change-me