# 数据库配置
POSTGRES_USER=quka
POSTGRES_PASSWORD=quka123
POSTGRES_DB=quka

# 静态资源域名
STATIC_DOMAIN=http://localhost
# 加密密钥
ENCRYPT_KEY=quka-encrypt-key

# MinIO 配置
MINIO_BUCKET=quka-bucket
MINIO_ROOT_USER=myminioadmin
MINIO_ROOT_PASSWORD=minio-secret-key-change-me

